<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/gestor-productos/gestor-productos.html">

<link rel="import" href="../../css/bootstrap-min-style.html">

Access-Control-Allow-Origin:*

<dom-module id="login-app">
  <template>

    <style include="bootstrap-min-style"></style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


    <style>
      :host {
        display: block;
      }
    </style>

 <section id="form"><!--form-->
    <div class="container">
      <h2>CATALOGO DE PRODUCTOS FINANCIEROS</h2>
      <!--div class="col-sm-4 col-sm-offset-1"-->
        <div class="login-form">
          <div>


            <div class="row" hidden$={{logado}}>


              <div class="signup-form">
                <h3>Accesa</h3>
                <div>
                  Ingresa Email: <input type="email" value="{{email::input}}" type="text" placeholder="Email" />
                  Ingresa Password: <input type="password" value="{{password::input}}" type="password" placeholder="Password" />
                  <button on-click="login" class="btn btn-primary">Login</button>
                  <!--button id='bregistra' class="btn btn-primary" value ='1' >Registrate</button-->
                </div>
              </div>

              <div class="row" >
                <!--div class="col-sm-4"-->
                  <div class="signup-form"><!--sign up form-->

                    <h3>Registrate</h3>

                    <div>
                      Ingresa Email: <input type="email" value="{{Email1::input}}" type="text" placeholder="Email" />
                      Define Password: <input type="password" value="{{Password1::input}}" type="password" placeholder="Password" />
                      <div class="col-sm-50">
                        Confirma Password: <input type="password" value="{{Password2::input}}" type="password" placeholder="Password" />
                        <button on-click="signUp" class="btn btn-primary">Sign up</button>
                      </div>
                    </div>
                  </div>
                <!--/div-->
              </div> <!--/fin logeado-->

            </div>

            <div class="row" hidden$={{!logado}}>
              <!--span>Bienvenido a la app</span-->
              <gestor-productos></gestor-productos>
            </div>


            <!--div class="row" hidden$={{bregistra.value}}>
                <div class="signup-form">
                  <h3>Nueva Cuenta</h3>

                  <div>
                    Ingresa Email: <input type="email" value="{{Email1::input}}" type="text" placeholder="Email" />
                    Define Password: <input type="password" value="{{Password1::input}}" type="password" placeholder="Password" />
                    <div class="col-sm-50">
                      Confirma Password: <input type="password" value="{{Password2::input}}" type="password" placeholder="Password" />
                      <button on-click="signUp" class="btn btn-primary">Sign up</button>
                    </div>
                  </div>
                </div
            </div-->


          </div>
        </div>
      <!--/div-->

</div><!--/container-->
</section><!--/form-->
<iron-ajax
id="doLogin"
url="http://localhost:3000/login"
content-type="application/json"
crossDomain: true
dataType: 'jsonp'
method = "POST"
handle-as = "json"
headers = "Access-Control-Allow-Headers2: *"
on-response = "manageAJAXResponse"
on-error = "showError">

<iron-ajax
  id="doSignUp"
  url="http://localhost:3000/registra"
  content-type="application/json"
  crossDomain: true
  dataType: 'jsonp'
  method = "POST"
  handle-as = "json"
  headers = "Access-Control-Allow-Headers2: *"
  on-response = "manageAJAXResponse"
  on-error = "showError">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-app'
          },
          email: {
            type: String,
          },
          password: {
            type: String,
          },
          logado: {
            type: Boolean,
            value: false
          },
          registrar: {
            type: Boolean,
            value: false
          },
          Email1: {
            type: String,
          },
          Password1: {
            type: String,
          },
          Password2: {
            type: String,
          }


        };
      }
      login() {
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada")
      }

    manageAJAXResponse(){
        console.log("Respuesta recibida del servicio api rest apimx20201");
        this.logado = true;

        //let Email1 = this.$.cEmail1.value;
        //let Password1 = this.$.cPassword1.value;

        //this.$.lEmail.value = "";
        //this.$.lPassword.value = "";
        this.$.cEmail1.value = "";
        this.$.cPassword1.value = "";
    }


      showError(){
        console.log("Hubo un error en iron-ajax");
        alert("Datos ingresados incorrectos, por favor valide");
        console.log(error);
        this.logado = false;
      }

    signUp(){
       var signData = {
          "email" : this.Email1,
          "password" : this.Password1
        };

       if(this.Password1==this.Password2){
          console.log(signData);
          this.$.doSignUp.body = JSON.stringify(signData);
          this.$.doSignUp.generateRequest();
          console.log("Registro enviado")
        }else{
          alert("Confirmaciòn de password ERRONEA");
       }

      /*console.log(signData);
      this.$.doSignUp.body = JSON.stringify(signData);
      this.$.doSignUp.generateRequest();
      console.log("Registro enviado")*/


      }





    }


    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
