<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../css/bootstrap-min-style.html">
<link rel="import" href="../../css/main-style.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="adiciona-producto">
  <template>
  <style include="bootstrap-min-style"></style>
  <style include="main-style"></style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>


    <section class="form_wrap">


      <div class="form_contact">

        <h2>Adiciona un Producto Financiero</h2>
        <div id="idProducto" class="user_info" style="display: block;">

          <label for="index">Numero de Producto</label>
          <input type="index" id="index" value="{{index::input}}">

          <label for="nombreProducto">Nombre del Producto</label>
          <input type="nombreProducto" id="nombreProducto" value="{{nombreProducto::input}}">

          <label for="montoMinimo">Monto Minimo</label>
          <input type="montoMinimo" id="montoMinimo" value="{{montoMinimo::input}}">

          <label for="plazoMeses">Plazo Meses</label>
          <input type="plazoMeses" id="plazoMeses" value="{{plazoMeses::input}}">

          <label for="Tasa">Tasa</label>
          <input type="Tasa" id="Tasa" value="{{Tasa::input}}">

          <button on-click="btnSend">Enviar</button>

        </div>

      </div>

    </section>

    <iron-ajax
      id="doProductos"
      url="http://localhost:3000/Productos"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "POST"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers2: *"
      on-response = "manageAJAXResponse"
      on-error = "showError">

  </template>

</script>
  class AdicionaProducto extends Polymer.Element {
    static get is() { return 'adiciona-producto'; }
    static get properties() {
      return {
        prop1: {
          type: String,
          value: 'adiciona-producto'
        },
        index: {
          type: Number,
          value: 0
        },
        nombreProducto: {
          type: String,
          value: 0
        },
        montoMinimo: {
          type: Number,
          value: 0
        },
        plazoMeses: {
          type: Number,
          value: 0
        },
        Tasa: {
          type: String,
          value: 0
        }

      };
    }
    btnSend(){
          var productosData = {
                "index" : this.index,
                "nombreProducto" : this.nombreProducto,
                "montoMinimo" : this.montoMinimo,
                "plazoMeses" : this.plazoMeses,
                "Tasa" : this.Tasa
              };
              console.log(productosData);
              this.$.doProductos.body = JSON.stringify(productosData);
              this.$.doProductos.generateRequest();
              console.log("Petición enviada")

      let lIndex = this.$.index.value;
      let lnombreProducto = this.$.nombreProducto.value;
      let lmontoMinimo = this.$.montoMinimo.value;
      let lplazoMeses = this.$.plazoMeses.value;
      let lTasa = this.$.Tasa.value;
      alert("Num Producto:"+lIndex+ "Nombre Producto:"+lnombreProducto+ " Monto Minimo:"+ lmontoMinimo+ " Plazo Meses:"+lplazoMeses+ " Tasa:"+lTasa);

    }
          manageAJAXResponse(){
            console.log("Respuesta recibida del servicio api rest apimx20201");
            this.logado = true;
          }
          showError(){
            console.log("Hubo un error en iron-ajax");
            alert("Datos ingresados incorrectos, por favor valide");
            console.log(error);
            this.logado = false;
          }

  }

  window.customElements.define(AdicionaProducto.is, AdicionaProducto);
</script>
</dom-module>
