<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../css/bootstrap-min-style.html">

<dom-module id="gestor-productos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style include="bootstrap-min-style"></style>

    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">

    <div class="form_contact">

           <!--h1>CATALOGO DE PRODUCTOS</h1-->
           <div>La Fecha y Tipo de Cambio es:</div>
           <!--script> obtenerTipoCambio(); </script-->
           <!--button type="button" on-click="obtenerTipoCambio" class="btn btn-primary">Consulta tipo de Cambio</button-->
           <!--div id="TipoC" textContent="{{productos.bmx.series[0].datos[0].dato}}"></div-->

           <!--p>Fecha: <span id="iFecha"></span></p>
           <p>TipoCambio: <span id="iTipoCambio"></span></p-->

           <p id="iFecha"></p>
           <p id="iTipoCambio"></p>

           <!--div id="txtOut">Nada</div-->


          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
          <script>

            const $iFecha = document.querySelector('#iFecha');
            const $iTipoCambio = document.querySelector('#iTipoCambio');

            function renderFecha(message) {
                $iFecha.textContent = message;
            }
            function renderTipo(message) {
                $iTipoCambio.textContent = message;
            }

          async function searchTipo() {
            const response =await fetch('http://localhost:3000/TipoCambio')
            console.log(response.ok);
            if(response.ok){
              const myJson = await response.json();
              console.log(myJson);

              var divOut = document.getElementById('txtOut');
              //var dJson = JSON.parse(myJson);
              var datos = myJson.bmx.series[0].datos[0];
              console.log('Primer llamado ' + datos.fecha + ' '+ datos.dato );

              renderFecha(datos.fecha);
              renderTipo(datos.dato);

              //$('#iFecha').text(datos.fecha);
              //$('#iTipoCambio').text(datos.dato);

              var txtOut = "";
              //for (var k in datos) {
                txtOut += `<p> Fecha :${datos.fecha}</p>`;
                txtOut += `<p> TipoCambio : ${datos.dato}</p>`;
              //}

              console.log(txtOut);
              divOut.innerHTML = txtOut;

            }else {
              alert("Tipo no encontrado");
            }

          }

          searchTipo();

            /*
              fetch('http://localhost:3000/TipoCambio').then(function(response) {
                  return response.json();
               }).then(function(myJson) {
                  var divOut = document.getElementById('txtOut');
                  //var dJson = JSON.parse(myJson);
                  var datos = myJson.bmx.series[0].datos[0];
                  console.log('Primer llamado ' + datos.fecha + ' '+ datos.dato );

                  $('#iFecha').text(datos.fecha);
                  $('#iTipoCambio').text(datos.dato);

                  var txtOut = "";
                  //for (var k in datos) {
                    txtOut += `<div> Fecha :${datos.fecha}</div>`;
                    txtOut += `<div> TipoCambio : ${datos.dato}</div>`;
                  //}

                  console.log(txtOut);
                  divOut.innerHTML = txtOut;
                });
*/



/*                var request = new XMLHttpRequest();
                request.open("GET", "http://localhost:3000/TipoCambio", false);
                request.send();
                var dJson = JSON.parse(request.responseText);
                var fecha = dJson.bmx.series[0].datos[0].fecha;
                var dato = dJson.bmx.series[0].datos[0].dato;

                console.log('Primer llamado ' + fecha + ' '+ dato );

                $('#iFecha').text(fecha);
                $('#iTipoCambio').text(dato);


                const myH3 = document.createElement('h3');
                myH3.textContent = dJson.bmx.series[0].datos[0].dato;
                header.appendChild(myH3);
*/

/*              $(document).ready(function(){
                $.get('http://localhost:3000/TipoCambio',function(data){
                  var dJson = JSON.parse(data);
                  $('#iFecha').text(dJson.bmx.series[0].datos[0].fecha);
                  $('#iTipoCambio').text(dJson.bmx.series[0].datos[0].dato);
                  var fecha = dJson.bmx.series[0].datos[0].fecha;
                  var dato = dJson.bmx.series[0].datos[0].dato;
                  console.log(fecha + '--' + dato);
                });
              });
*/

          </script>





          <!--iron-ajax
          id="doTipoCambio"
          url="http://localhost:3000/TipoCambio"
          content-type="application/json"
          crossDomain: true
          dataType: 'jsonp'
          method = "POST"
          handle-as = "json"
          headers = "Access-Control-Allow-Headers2: *"
          on-response = "manageAJAXResponse"
          on-error = "showError"-->
    </div>



    <div class="form_contact">
           <h2>Adiciona un Producto Financiero</h2>

           <div id="idProducto" class="user_info" style="display: block;">

             <div>
               <label for="index">Clave de Producto</label>
               <input type="index" id="index" value="{{index::input}}">

               <label for="nombreProducto">Nombre del Producto</label>
               <input type="nombreProducto" id="nombreProducto" value="{{nombreProducto::input}}">
             </div>

             <div>
               <label for="montoMinimo">Monto Mìnimo</label>
               <input type="montoMinimo" id="montoMinimo" value="{{montoMinimo::input}}">

               <label for="plazoMeses">Plazo Meses</label>
               <input type="plazoMeses" id="plazoMeses" value="{{plazoMeses::input}}">

               <label for="Tasa">Tasa</label>
               <input type="Tasa" id="Tasa" value="{{Tasa::input}}">
             </div>

             <button type="button" on-click="btnSend" class="btn btn-primary">Inserta Productos</button>
             <button type="button" on-click="obtenerProductos" class="btn btn-primary">Consulta Productos</button>

          </div>

      </div>


      <div class="row">
        <table class="table table-stripped">
            <tbody>
              <template is="dom-repeat" items="{{productos}}">
                <tr>
                  <td>
                    [[item.index]]
                  </td>
                  <td>
                    [[item.nombre_Producto]]
                  </td>
                  <td>
                    [[item.monto_Minimo]]
                  </td>
                  <td>
                    [[item.plazo_Meses]]
                  </td>
                  <td>
                    [[item.Tasa]]
                  </td>
                </tr>
              </template>
            </tbody>
        </table>
      </div>
      </div>

      <iron-ajax
      id="doProductos"
      url="http://localhost:3000/Productos"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "POST"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers2: *"
      on-response = "manageAJAXResponse"
      on-error = "showError">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class gestorProductos extends Polymer.Element {

      static get is() { return 'gestor-productos'; }

      static get properties() {
        return {
          productos: {
            //type: Array,
            type: String,
            value: 'gestor-productos',
            notify:true
          },

          index: {
            type: Number,
            value: 0
          },
          nombreProducto: {
            type: String,
            value: 0
          },
          montoMinimo: {
            type: Number,
            value: 0
          },
          plazoMeses: {
            type: Number,
            value: 0
          },
          Tasa: {
            type: String,
            value: 0
          },
          dato: {
            type: String,
            value: 0
          },
          fecha: {
            type: String,
            value: 0
          }



        };
      }

      btnSend(){
            var productosData = {
                  "index" : this.index,
                  "nombreProducto" : this.nombreProducto,
                  "montoMinimo" : this.montoMinimo,
                  "plazoMeses" : this.plazoMeses,
                  "Tasa" : this.Tasa
                };

      if(this.index != "0" & this.nombreProducto != "0" & this.montoMinimo != "0" & this.plazoMeses != "0" & this.Tasa != "0"){
                console.log(productosData);
                this.$.doProductos.body = JSON.stringify(productosData);
                this.$.doProductos.generateRequest();
                console.log("Petición enviada");
                let lIndex = this.$.index.value;
                let lnombreProducto = this.$.nombreProducto.value;
                let lmontoMinimo = this.$.montoMinimo.value;
                let lplazoMeses = this.$.plazoMeses.value;
                let lTasa = this.$.Tasa.value;
                alert("Num Producto:"+lIndex+ "Nombre Producto:"+lnombreProducto+ " Monto Minimo:"+ lmontoMinimo+ " Plazo Meses:"+lplazoMeses+ " Tasa:"+lTasa);
        } else {
        alert("Ninguno de los campos puede ser 0");
        }

      }
            manageAJAXResponse(){
              console.log("Respuesta recibida del servicio api rest apimx20201");
              //console.log(data.detail.response);
              this.logado = true;
            }
            showError(){
              console.log("Hubo un error en iron-ajax");
              alert("Datos ingresados incorrectos, por favor valide");
              console.log(error);
              this.logado = false;
            }




      obtenerProductos(){
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/Productos", false);
        request.send();
        //this.productos = JSON.parse(request.responseText).value;
        this.productos = JSON.parse(request.responseText);
        console.log(this.productos);
      }


     obtenerTipoCambio(){
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/TipoCambio", false);
        request.send();
        //this.productos = JSON.parse(request.responseText).value;
        this.productos = JSON.parse(request.responseText);
        this.fecha = this.productos.bmx.series[0].datos[0].fecha;
        this.dato = this.productos.bmx.series[0].datos[0].dato;

        console.log(this.fecha + ' '+ this.dato );
      }





    }

    //window.onload = obtenerProductos() { init(); doSomethingElse(); };

    window.customElements.define(gestorProductos.is, gestorProductos);
  </script>
</dom-module>
